/*=================================================
Boilerplate 2020 by Oliver Peter 🐕
===================================================

    - IMPORTS
    - CSS CUSTOM PROPS / VARIABLES
    - CLOSE
    - ALL
    - HTML, BODY
    - P, H1, H2, H3, H4, H5, H6
    - IMG
    - SVG
    - FORM
    - GRID
    - VARIABLES
    - DIV

===================================================*/

/*--------------------------------------------------
IMPORTS
--------------------------------------------------*/



/*--------------------------------------------------
CSS CUSTOM PROPS / VARIABLES
--------------------------------------------------*/

:root {

    /* COLOURS */
    --gold: #ccac00;
    --black: #18181A;
    --white: #F7F7F7;
    
    --alarm: #da4820;

    /* H1 */
    --ff: 'madrasBoldItalic';
    --ff-size: 1.6em;

    /* H2 */
    --ff-ss: 'madrasBoldItalic';
    --ff-size-h2: 1.1em;

    /* P */
    --ff-ss: 'MadrasExtraLight';
    --ff-ss-size: 1em;

    /* HR */
    --hr-wid: 80%;

    /* CONTENT PADDING TOP/BUT */
    --pad-top: 2em;
    --pad-but: 2em;

    /* CONTENT PADDING LEFT/RIGHT */
    --pad-left: 1em;
    --pad-right: 1em;

    /* CONTENT MARGING TOP/BUT */
    --mar-top: 2em;
    --mar-but: 2em;

    /* CONTENT MARGIN LEFT/RIGHT */
    --mar-left: 1em;
    --mar-right: 1em;

}

/*--------------------------------------------------
CLOSE
--------------------------------------------------*/

/*--------------------------------------------------
ALL
--------------------------------------------------*/

* {
	margin: 0;
    padding: 0;

    box-sizing: border-box; /* INCLUDES THE BORDER INTO THE ELEMENT INSTEAD OF ADDING */
}

/*--------------------------------------------------
BODY
--------------------------------------------------*/

/*--------------------------------------------------
P, H1, H2, H3, H4, H5, H6
--------------------------------------------------*/

/*--------------------------------------------------
HR
--------------------------------------------------*/

/*--------------------------------------------------
GRID
--------------------------------------------------*/

/*--------------------------------------------------
HEADER SPAN
--------------------------------------------------*/

/*--------------------------------------------------
DIV
--------------------------------------------------*/

